{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",

    "Api__BaseUrl": "https://quotes-api-cowork.whitestone-71ebd55e.centralindia.azurecontainerapps.io",
    "Api__Audience": "api://91566dbd-d857-488a-858d-475e60b309b7"
  }
}
